@model IEnumerable<Category>
@{
  ViewData["Title"] = "Categories";
}

<h2 class="mb-5">Categories</h2>

<ul class="list-unstyled">
  @foreach (var c in Model)
  {
    <li class="border-bottom mb-2 fs-5">
      <a asp-controller="Quiz"
         asp-action="Index"
         asp-route-categoryId="@c.Id">
        @c.Name
      </a>
    </li>
  }
</ul>
