@model IEnumerable<Category>
@{
  ViewData["Title"] = "Categories";
}

<h2>Categories</h2>

<ul>
  @foreach (var c in Model)
  {
    <li>
      <a asp-controller="Quiz"
         asp-action="Index"
         asp-route-categoryId="@c.Id">
        @c.Name
      </a>
    </li>
  }
</ul>
