@model Category
@{
  ViewData["Title"] = "Edit Category";
}

<h2>Edit Category</h2>

<form asp-action="Edit" method="post">
  <partial name="_CategoryForm" model="Model" />
  <input type="hidden" asp-for="Id" />
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
