@model IEnumerable<Quiz>
@{
  ViewData["Title"] = "Quizzes";
}

<h1 class="mb-5">Quizzes</h1>

<ul class="list-unstyled">
  @foreach (var quiz in Model)
  {
    <li class="mb-2 pt-2 pb-2 fs-5 border-bottom">
      @quiz.Title
    </li>
  }
</ul>
